# Python/venv
backend/.venv/
backend/tasks.db
backend/__pycache__/
backend/*.pyc
frontend/node_modules/
*.log
dist/
.env
.env.local
# Ignore Terraform local state, cache, and provider binaries
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
