version: '3.8'

services:
  backend:
    build: ./backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=sqlite:///./tasks.db
    volumes:
      - ./backend/app:/app/app
      - ./backend/tasks.db:/app/tasks.db

  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

