apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-backend
  labels:
    app: fastapi-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-backend
  template:
    metadata:
      labels:
        app: fastapi-backend
    spec:
      containers:
        - name: backend
          image: 710841932709.dkr.ecr.ap-south-1.amazonaws.com/fastapi-backend:latest
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URL
              value: "mysql://user:password@mysql:3306/dbname"  # update if needed
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          imagePullPolicy: Always

